thead,
tfoot {
    background-color: #71a63f;
    color: #fff;
}

tbody {
    background-color: #7db9d3;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(146, 103, 103);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td,
th {
    border: 1px solid rgb(170, 27, 27);
    padding: 5px 10px;
}

td {
    text-align: center;
}