    body {
        background-color: #9a9c11;
        padding: 10px;
        width: 280px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    input,
    textarea,
    select,
    option {
        background-color: #1a56aa;
        border-radius: 20%;
        border-radius: 30%;
        margin-left: 20%;
    }
    
    input,
    textarea,
    select {
        padding: 3px;
        border: 1px solid #F5C5C5;
        border-radius: 5px;
        width: 200px;
        box-shadow: 1px 1px 2px #C0C0C0 inset;
        margin-left: 20%;
    }
    
    select {
        margin-top: 10px;
    }
    
    form {
        background-color: #fafafa;
        padding: 10px;
        width: 280px;
        margin-left: 50%;
        border-radius: 30%;
    }
    
    input[type=submit] {
        width: 100px;
        margin-left: 5px;
        box-shadow: 1px 1px 1px #044ce7;
        cursor: pointer;
        margin-left: 30%;
    }
    
    input[type=submit] :hover {
        background-color: green;
    }